MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoidGllcnJlMDcwMyIsImEiOiJja3ljd3A5cmswdGg3MnBtcnY0eWwyN3diIn0.CIKCkF7StLKKRzGnijoQEQ
API_URL=https://testapi.pozzleplanet.com/v1
API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MjI4NTY3MTBjMGY1ZDNiMDAyMDdhZDciLCJ3YWxsZXRBZGRyZXNzIjoiMHhmN2MzYTAyOEYxMmM2NTA1NkFlQUVFODEyODc0MTBjZDUzMDM4ZTlBIiwiaWF0IjoxNjQ3MDAzNTQyLCJleHAiOjE2NDgyOTk1NDJ9.us6QxqoLdz5g7nLPV3326PS_kUuQwTnoMmK4xvvqUm0