MAPBOX_API_URL=https://api.mapbox.com
MAPBOX_API_VERSION=v5
MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoidGllcnJlMDcwMyIsImEiOiJja3ljd3A5cmswdGg3MnBtcnY0eWwyN3diIn0.CIKCkF7StLKKRzGnijoQEQ
API_URL=https://testapi.pozzleplanet.com/v1
API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MjI4NTY3MTBjMGY1ZDNiMDAyMDdhZDciLCJ3YWxsZXRBZGRyZXNzIjoiMHhmN2MzYTAyOEYxMmM2NTA1NkFlQUVFODEyODc0MTBjZDUzMDM4ZTlBIiwiaWF0IjoxNjUyODYwMTAwLCJleHAiOjE2NTU0NTIxMDB9.xRPi8ETogVXL-cw4qLoIu0txmqebq1YNHqxzISyGolI
SENTRY_ENV=development